{% extends "template.html" %}

{% block main %}
<div class="container col-lg-4 col-sm-12">
    <form method="POST" id='register' name="register" novalidate>
        <!-- SECRET_KEY is used below -->
        {{ form.hidden_tag() }}
        <fieldset class='form-group'>
            <legend class='border-bottom mb-4'>
                <h1><strong>Register</strong></h1>
            </legend>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-12 col-lg-6 mb-2">
                        {% if form.first_name.errors %}
                        {{ form.first_name(class='form-control is-invalid', placeholder='First Name', minlength='1', maxlength='40') }}
                        <div class='invalid-feedback'>
                            {% for error in form.first_name.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ form.first_name(class='form-control', placeholder='First Name', minlength='1', maxlength='40') }}
                        {% endif %}
                    </div>
                    <div class="col-sm-12 col-lg-6">
                        {% if form.last_name.errors %}
                        {{ form.last_name(class='form-control is-invalid', placeholder='Last Name', minlength='1', maxlength='40') }}
                        <div class='invalid-feedback'>
                            {% for error in form.last_name.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ form.last_name(class='form-control', placeholder='Last Name', minlength='1', maxlength='40') }}
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="form-group">
                {% if form.email.errors %}
                {{ form.email(class='form-control is-invalid', placeholder='Your Email Address', maxlength='60') }}
                <div class='invalid-feedback'>
                    {% for error in form.email.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.email(class='form-control', placeholder='Your Email Address', maxlength='60') }}
                {% endif %}
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-12 col-lg-6 mb-2">
                        {% if form.password.errors %}
                        {{ form.password(class='form-control is-invalid', placeholder='Password') }}
                        <div class='invalid-feedback'>
                            {% for error in form.password.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ form.password(class='form-control', placeholder='Password') }}
                        {% endif %}
                    </div>
                    <div class="col-sm-12 col-lg-6">
                        {% if form.confirm_password.errors %}
                        {{ form.confirm_password(class='form-control is-invalid', placeholder='Confirm Password') }}
                        <div class='invalid-feedback'>
                            {% for error in form.confirm_password.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ form.confirm_password(class='form-control', placeholder='Confirm Password') }}
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="form-group">
                {% if form.company.errors %}
                {{ form.company(class='form-control is-invalid', placeholder='Company Name', maxlength='60') }}
                <div class='invalid-feedback'>
                    {% for error in form.company.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.company(class='form-control', placeholder='Company Name', maxlength='60') }}
                {% endif %}
            </div>
            {#
            <div class="form-group">
                {% if form.subscription_plans.errors %}
                {{ form.subscription_plans(class='form-control is-invalid') }}
                <div class="invalid-feedback">
                    {% for error in form.subscription_plans.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.subscription_plans(class='form-control') }}
                {% endif %}
            </div> 
            #}
            <fieldset class='form-group border p-2'>
                <legend class='w-auto px-2'>How many records do you need to process?</legend>
                <div class="form-group">
                    <div class="row">
                        <div class="container">
                            <p class="mt-1 border-bottom">
                                Each XML record (i.e. file) generated is counted separately.
                                You can buy as many as you need, from 10 to 10,000 records.
                                For new registrants, we provide 10 XML records worth Rs. 250
                                as a free trial.
                            </p>
                        </div>
                        <div class="col-sm-12 col-lg-6 mb-2">
                            {{ form.order_qty.label(class='form-control-label') }}
                            {% if form.order_qty.errors %}
                            {{ form.order_qty(class='form-control is-invalid') }}
                            <div class='invalid-feedback'>
                                {% for error in form.order_qty.errors %}
                                <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                            {% else %}
                            {{ form.order_qty(class='form-control') }}
                            {% endif %}
                        </div>
                        <div class="col-sm-12 col-lg-6">
                            <label for="amt">
                                Amount in Rs. 
                            </label>
                            {% if form.amt.errors %}
                            {{ form.amt(class='form-control is-invalid text-right', readonly="readonly", value='0') }}
                            <div class='invalid-feedback'>
                                {% for error in form.amt.errors %}
                                <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                            {% else %}
                            {{ form.amt(class='form-control text-right', readonly="readonly", value='0') }}
                            {% endif %}
                        </div>
                        <div class="container text-muted">
                            <small id='calc_formula'>

                            </small>
                        </div>
                        <div class="container mt-4">
                            <p class='display-5 text-center'>
                                <strong>
                                    <a class="price_collapse_rotate" data-toggle="collapse" href="#price_table" role="button"
                                        aria-expanded="false" aria-controls="price_table">
                                        <span class="p-2 text-light bg-secondary">
                                            Check Price Information
                                            <i class="bi bi-chevron-down"></i>
                                        </span>
                                    </a>
                                </strong>
                            </p>
                            <div id='price_table' class='collapse'>
                                <table class='table table-striped table-sm'>
                                    <thead>
                                        <tr>
                                            <th class="w-50">No. of Recrods</th>
                                            <th class="">Rate Per Record (Rs.)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="">First 10 Records</td>
                                            <td class="">Rs. 25 (FREE for new registrations) </td>
                                        </tr>
                                        <tr>
                                            <td class="">11 to 100</td>
                                            <td class="">20</td>
                                        </tr>
                                        <tr>
                                            <td class="">101 to 250</td>
                                            <td class="">16</td>
                                        </tr>
                                        <tr>
                                            <td class="">251 to 500</td>
                                            <td class="">12</td>
                                        </tr>
                                        <tr>
                                            <td class="">501 to 1000</td>
                                            <td class="">9</td>
                                        </tr>
                                        <tr>
                                            <td class="">1001 to 2000</td>
                                            <td class="">7</td>
                                        </tr>
                                        <tr>
                                            <td class="">2001 to 5000</td>
                                            <td class="">5</td>
                                        </tr>
                                        <tr>
                                            <td class="">5001 to 10000</td>
                                            <td class="">4</td>
                                        </tr>
                                        <tr>
                                            <td class="">Over 10000</td>
                                            <td class="">Contact us</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <small class='text-muted'>
                                    This is a tiered pricing model. For new registrations, the first 10 records are free as shown in the table.
                                    The next 11 to 100 records would cost Rs. 20 each; the next 101 to 250 records will 
                                    cost Rs. 16 each, and so on. So, for example, if you want to process 700 records, 
                                    the total amount payable will be Rs. 9000: 
                                    First 10 records for free + Next 90 records at Rs. 20 (=Rs. 1800) + Next 150 records 
                                    at Rs. 16 (=Rs. 2400) + Next 250 records at Rs. 12 (=Rs. 3000) + Last 200 records at Rs. 9
                                    (=Rs. 1800) i.e. Rs. 1800 + Rs. 2400 + Rs. 3000 + Rs. 1800 = Rs. 9000.
                                </small>    
                            </div>                    
                        </div>
                    </div>
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.i_agree(class='') }} 
                <label class='mb-0' for="i_agree">
                    I agree to the 
                    <a href=""><u>terms and conditions</u></a>
                    and the <a href=""><u>privacy policy.</a></u>
                </label>
                <label class='mb-0 error' generated='true' for='i_agree'></</label>>
                {% if form.i_agree.errors %}
                    {% for error in form.i_agree.errors %}
                    <small class='text-danger'><br>{{ error }}</small>
                    {% endfor %}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group text-center">
            {{ form.submit(class='btn btn-primary') }}
        </div>
    </form>
</div>
{% endblock %}

{% block script %}
<script>

    var xns = {};
    xns.price_table = JSON.parse('{{ price_table|tojson }}');

    $('#order_qty').on('input', function() {
        if (order_qty.value != parseInt(order_qty.value)) {
            $('#amt').addClass('text-danger');
            amt.value='ERROR';
        }
        else if (parseInt(order_qty.value) < 10 || parseInt(order_qty.value) > 10000) {
            $('#amt').addClass('text-danger');
            amt.value='ERROR';
        } else {
            $('#amt').removeClass('text-danger');
            qty = parseInt(order_qty.value);
            text_formula = ''
            for(i=0;i<=xns.price_table.length;i++) {
                if ((qty >= xns.price_table[i][0]) && (qty <= xns.price_table[i][1])) {
                    price_table_index = i;
                    break;
                }
                if (text_formula == "") {
                    text_formula = xns.price_table[i][4];
                } else {
                    text_formula = text_formula + " + " + xns.price_table[i][4];
                }
            }
            console.log(price_table_index)
            base_rate = xns.price_table[i][2];
            base_qty = xns.price_table[i][0]
            if (qty > 10) {
                cummulative_total = xns.price_table[i-1][3];
            } else {
                cummulative_total = 250;
            }
            amt.value = (cummulative_total + (qty - base_qty) * base_rate) - 250;
            text_formula = text_formula 
                + " + Last " 
                + (qty - base_qty).toString() 
                + " at Rs. " 
                + base_rate.toString() 
                + " each " 
                + "(" 
                + (qty - base_qty).toString() 
                + " x " + base_rate.toString() 
                + " = " 
                + ((qty - base_qty) * base_rate).toString() + ")" 
                + " &#8722; Rs. 250 off for new registrants = Rs. " 
                + amt.value
            if (qty == 10) {
                text_formula = '';
            }
        }
        if (amt.value == 'ERROR') {
            text_formula='';
        }
        $('#calc_formula').html(text_formula);
    });

    $("#register").validate({
        rules: {
            first_name: {
                required: true,
                minlength: 1,
                maxlength: 40
            },
            last_name: {
                required: true,
                minlength: 1,
                maxlength: 40
            },
            email: {
                required: true,
                maxlength: 60,
                email: true,
            },
            password: {
                required: true,
                minlength: 6
            },
            confirm_password: {
                required: true,
                minlength: 6,
                equalTo: "#password"
            },
            i_agree: {
                required: true
            }
        },
        messages : {
            first_name: 'Please enter your first name',
            last_name: 'Please enter your last name (surname)',
            email: {
                required: 'Please enter your email address.',
                email: 'Please enter valid email address.',
            },
            password: {
                required: 'Please enter a password',
                minlength: 'Password must be at least six characters long.'
            },
            confirm_password: 'This value must be same as the password.',
            i_agree: 'You must agree to the terms and conditions and our privacy policy before registering.'
        },
        submitHandler: function(form) {
            form.submit();
        }
    });

</script>
{% endblock %}